<form class="d-flex" action="/answer" data-turbo="false">
  <input type="text" name="ask" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
<h1><%= @answer %></h1>
<h1><%= @coach_answer %></h1>
